$primary_font: "lato";
$text_color: rgba(255, 255, 255, 0.75);
$text_color_black: rgba(70, 70, 70, 1);
$text_color_black_opacity: rgba(70, 70, 70, 0.9);
$thumbsUpBg: rgba(27, 187, 179, 0.9);
$thumbsDownBg: rgba(255, 173, 29, 0.9);
